* {
box-sizing: border-box;
}

html{
  font-size: 10px;
}

body{
  background-color: #ECEBEC;
}

.PersonalLogo{        /* size and position of the personal logo*/
  height: 65px;
  width: 57px;
  margin-top: 28px;
  margin-left: 84px;
  margin-bottom: 28px;
  position: absolute;
}

nav ul{               /*to put the menu in order*/
  display: flex;
  justify-content: flex-end;
}

ul#menu li{
  display: list-item;
  list-style: none;
  /*padding: 10px;*/
  position: relative;
  margin-top: 51px;
  margin-left: 45px;
  margin-bottom: 45px;
}

nav li:last-child {
  margin-right: 84px;
}

.navSection {     /* the black background of the navigation menu*/
  background-color: black;
  height: 121px;
  width: 100%
  /*margin-right: 0;
  padding: 0;*/
}

.navSection a{
  width: 33.33%;
  text-align: center;
  /*padding: 22px;*/
  text-decoration: none;
  color: #979797;
  font-family: "Titillium Web", sans-serif;
  font-size: 30px;
}

.navSection a:hover{
  /*background-color: white;*/
  color: white;
  padding-top: 19px;
  padding-bottom: 26px;
  /*width: 33.33%*/
  /*padding-top: 19px;
  padding-bottom: 26px;
  /*padding-left: 22.5px;
  padding-right: 22.5px;*/
}

.navSection a.active{
  color: white;
}


.navSection a:before{
  /*color: white;*/
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -1px;
  left: 0;
  background-color: white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.15s ease-in-out 0s;
  transition: all 0.15s ease-in-out 0s;
}

.navSection a:hover:before , .navSection a.active:before{
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

#backgroundimage {    /*background image attributes*/
  background: url("../images/HeroImageMine.png");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: cover;
  /*margin-bottom: 75px;*/
  position: absolute;
}

.heroIntro p{ /*intro paragraph attributes*/
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 36px;
  line-height: 59px;
  margin-left: 84px;
  margin-top: 206px;
  position: absolute;
  text-align: left;
  width: 746px;
}


 .featuredProjects h1{  /* Featured Projects-heading*/
  color: black;
  font-family: "Titillium Web", sans-serif;
  font-size: 80px;
  font-weight: bold;
  margin-top: 837px;
  text-align: center;
}

/*grid*/
.content-grid {
  position: relative;
  max-width: 100%;
}

.projects img {
  width: 100%;
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 99px;
}


/*overlay code*/
.containeroverlay{
  position: relative;
  width: 100%;
  top: 0;
}

.ArchiaImage .soloprojectimg{
  display: block;
  width: 100%;
  height: auto;
}

.mdl-card{ /*space of grid containers from footer*/
    bottom: 234px;
}

.overlay {
  display: inline-block;
  position: absolute;
  margin: 20px 20px 99px 20px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: auto;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0, 0, 0, 0.6);
}

.containeroverlay:hover .overlay {
  opacity: 1;
}

.overlay-content {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay-content h2{
  font-size: 60px;
  font-family: "Titillium Web", sans-serif;
}

.overlay-content .aboutproject{
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
  line-height: 120%;
  width: 486px;

}

.overlay-content .roles{
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
  line-height: 120%;
  width: 486px;
}

.ArchiaButton input { /*case study buttons*/
	background-color: #000;
  border: 2px solid #fff;
  border-radius:5px;
  color: #fff;
  font-family: "Titillium Web", sans-serif;
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 35%;
  width: 466px;
  height: 92px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.ArchiaButton input:hover{
  background-color: #fff;
  border: 2px solid #000;
  border-radius:5px;
  color: #000;
  font-family: "Titillium Web", sans-serif;
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 35%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

 .inactivebutton input { /*inactive button*/
	background-color: #ECEBEB;
  border-radius:5px;
  color: #979797;
  font-family: "Titillium Web", sans-serif;
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 35%;
  width: 466px;
  height: 92px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/*footer*/
footer.mdl-mini-footer {
  bottom: 0;
  color: white;
  margin-top: 234px;
  background-color: #000;
  padding: 0.5rem;
  /*position: fixed;*/
  width: 100%;
  height: 452px;
  z-index: 1;
}

footer.mdl-mini-footer > ul {
  margin: auto;
  font-size: 3rem;
  margin-left: 521px;

}

footer p{
color: white;
}

/*footer.mdl-typography--text-center{
  align-items: center;
}*/

.contactHeading h3{
  color: #fff;
  font-size: 60px;
  font-family: "Titillium Web", sans-serif;
  width: 449px;
  margin-bottom: 70px;
  margin-top: 70px;
  margin-left: 495.5px;

}

.copyrights p{
  font-size: 14px;
  color: white;
  font-family: "Titillium Web", sans-serif;
  text-align: center;
  margin-bottom: 38px;

}

/*.container-about-me {
background-color: white;
color: #454242;
font-family: "open sans", sans-serif;
font-size: 2rem;
height: 100vh;
line-height: 120%;
margin: 0 auto;
position: relative;
text-align: left;
width: 100%;
}

.container-case-study {
background-color: white;
color: #454242;
font-family: "open sans", sans-serif;
font-size: 2.4rem;
/*height: 100vh;
line-height: 120%;
margin: 0 auto;
position: relative;
text-align: left;
width: 100%;
}
