* {
box-sizing: border-box;
}

html{
  font-size: 10px;
}

h1{
  font-size: 80px;
}

.workspageprojects h1{
  font-family: "Titillium Web", sans-serif;
  font-size: 40px;
  margin-top: 10%;
  text-align: center;
}

.container{
  background-color: #ECEBEC;
  width: 100%;
}

.container-about-me {
background-color: #ECEBEC;
font-family: "open sans", sans-serif;
font-size: 20px;
line-height: 120%;
}


.PersonalLogo{        /* size and position of the personal logo*/
  height: 65px;
  width: 57px;
  margin-top: 28px;
  margin-left: 84px;
  margin-bottom: 28px;
  position: absolute;
}

nav ul{               /*to put the menu in order*/
  display: flex;
  justify-content: flex-end;
}

ul#menu li{
  display: list-item;
  list-style: none;
  margin-top: 51px;
  margin-left: 45px;
  margin-bottom: 45px;
  position: relative;
}

nav li:last-child {
  margin-right: 84px;
}

.navSection {     /* the black background of the navigation menu*/
  background-color: black;
  height: 121px;
  width: 100%
}

.navSection a{
  color: #979797;
  font-family: "Titillium Web", sans-serif;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  width: 33.33%;

}

.navSection a:hover{
  color: white;
}

.navSection a.active{
  color: white;
}

#backgroundimage {    /*background image attributes*/
  background: url("../images/HeroImageMine.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: cover;
  height: 100%;
  position: absolute;
  width: 100%;
}

.heroIntro p{ /*intro paragraph attributes*/
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 36px;
  line-height: 120%;
  margin-left: 84px;
  margin-top: 206px;
  position: absolute;
  text-align: left;
  width: 746px;
}

/*Aboutme.html code*/
section.biographyRight{
  float: right;
  width: 50%;

}

section.PhotosLeft{
  display: grid;
  float: left;
  grid-gap: 100px;
  padding-top: 320px;
  position: relative;
  width: 50%;
}

section.Irapuato{
  bottom: 100px;
  margin-bottom: -335px;
  padding-top: 240px;
  padding-right: 84px;
  width: 100%;
}

section.PhotosLeft p, section.Irapuato p{
  padding-left: 20px;

}

.bioText h1{
  color: #333333;
  font-family: "Titillium Web", sans-serif;
  font-size: 36px;
  margin-top: 84px;
  text-align: center;
}

.bioText p{
  color: #454242;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  line-height: 35px;
  margin-top: 50px;
  padding-right: 84px;
  padding-left: 42px;
  text-align: left;
}

/*index code*/
 .featuredProjects h1{  /* Featured Projects-heading*/
  color: black;
  font-family: "Titillium Web", sans-serif;
  font-size: 80px;
  font-weight: bold;
  margin-top: 836px;
  text-align: center;
}

/*grid*/
.group:after {
  content: "";
  clear: both;
  display: table;
}

.content-grid {
  position: relative;
  max-width: 100%;
}

.projects img {
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 99px;
  width: 100%;
}

/*aboutme page images*/
.MyPhoto img, .strawberryPhoto img, .Irapuato img {
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 99px;
  width: 100%;
}


/*overlay code*/
.containeroverlay{
  position: relative;
  top: 0;
  width: 100%;
}

.ArchiaImage .soloprojectimg{
  display: block;
  height: auto;
  width: 100%;
}

.mdl-card{ /*space of grid containers from footer & space around*/
  bottom: 234px;
  left: 84px;
  right: 84px;
  width: 100%;
}

.overlay {
  display: inline-block;
  position: absolute;
  margin: 20px 20px 99px 20px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: auto;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0, 0, 0, 0.6);
}

.containeroverlay:hover .overlay {
  opacity: 1;
}

.overlay-content {
  color: white;
  position: absolute;
  top: 35%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay-content h2{
  font-size: 60px;
  font-family: "Titillium Web", sans-serif;
}

.overlay-content .aboutproject{
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
  line-height: 120%;
  width: 486px;
}

.overlay-content .roles{
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
  line-height: 120%;
  width: 486px;
}

.button input { /*case study buttons*/
	background-color: #000;
  border: 2px solid #fff;
  border-radius: 5px;
  color: #fff;
  font-family: "Titillium Web", sans-serif;
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 35%;
  width: 466px;
  height: 92px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.button input:hover{
  background-color: #fff;
  border: 2px solid #000;
  border-radius:5px;
  color: #000;
  font-family: "Titillium Web", sans-serif;
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 35%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

 .inactivebutton input { /*inactive button*/
	background-color: #ECEBEB;
  border-radius:5px;
  color: #979797;
  font-family: "Titillium Web", sans-serif;
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 35%;
  width: 466px;
  height: 92px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.ArchiaIntro h1{
  color: #3C4663;
  font-family: "Rasa", serif;
  text-align: center;
  padding-top: 100px;
}

/*ARCHIA'S CASE STUDY*/
.ArchiaIntro img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding-top: 23px;
  text-align: center;
}

div .SummaryOfProject{
  background-color: #3C4663;
  margin-top: -200px;
  height: auto;
  width: 100%;
}

.SummaryOfProject p{
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  line-height: 42px;
  padding-top: 268px;
  padding-left: 293.5px;
  padding-right: 293.5px;
  text-align: center;
}

.buttonCS input { /*case study buttons*/
	background-color: #000;
  border: 2px solid #fff;
  border-radius: 5px;
  color: #fff;
  font-family: "Titillium Web", sans-serif;
  font-size: 40px;
  font-weight: bold;
  position: relative;
  left: 50%;
  margin-top: 50px;
  margin-bottom: 100px;
  width: 466px;
  height: 92px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;

}

.buttonCS input:hover{
  background-color: #fff;
  border: 2px solid #000;
  border-radius:5px;
  color: #000;
  font-family: "Titillium Web", sans-serif;
  font-size: 40px;
  font-weight: bold;
  position: relative;
  left: 50%;
  margin-top: 50px;
  margin-bottom: 100px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


/*footer*/
footer.mdl-mini-footer {
  background-color: #000;
  bottom: 0;
  color: white;
  margin-top: 234px;
  padding: 0.5rem;
  width: 100%;
  height: 452px;
  z-index: 1;
}

footer .contactHeading {
  width: 100%;
}

footer h3{
  color: #fff;
  font-size: 60px;
  font-family: "Titillium Web", sans-serif;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 20px;
}

footer .mdl-mini-footer__link-list{
  font-size: 6rem;
  justify-content: center;
  width: 100%;
  text-align: center;
}

footer .copyrights {
  font-size: 14px;
  color: white;
  font-family: "Titillium Web", sans-serif;
  text-align: center;
  padding-top: 80px;
  width: 100%
}
