:root {
  font-size: 62.5%;
  body {
       /*Body font size 10px*/
    font-size: 1rem;
  }
}

* {
box-sizing: border-box;
}
/*index code*/
.container{
  background-color: #ECEBEC;
  width: 100%;
}


.PersonalLogo{        /* size and position of the personal logo*/
  height: 65px;
  width: 57px;
  margin-top: 28px;
  margin-left: 84px;
  margin-bottom: 28px;
  position: absolute;
}


nav ul{               /*to put the menu in order*/
  display: flex;
  justify-content: flex-end;
}

ul#menu li{
  display: list-item;
  list-style: none;
  margin-top: 51px;
  margin-left: 45px;
  margin-bottom: 45px;
  position: relative;
}

nav li:last-child {
  margin-right: 84px;
}

.navSection {     /* the black background of the navigation menu*/
  background-color: black;
  height: 121px;
  width: 100%;
}

.navSection a{
  color: #979797;
  font-family: "Titillium Web", Verdana, sans-serif;
  font-size: 3rem;
  text-align: center;
  text-decoration: none;
  width: 33.33%;

}

.navSection a:hover{
  color: white;
}

.navSection a.active{
  color: white;
}

header{
  background: url("../images/HeroImageMine.png") center / cover;
  height: 80vh;
  justify-content: center;
}

header p{ /*intro paragraph attributes*/
  color: white;
  font-family: "Open Sans", Tahoma, sans-serif;
  font-size: 3.6rem;
  line-height: 5.9rem;
  padding-left: 84px;
  padding-top: 10%;
  width: 55%;
}


div .featuredProjects{
  width: 100%;
}

.featuredProjects h1{  /* Featured Projects-heading*/
  color: black;
  font-family: "Titillium Web", Verdana, sans-serif;
  font-size: 8rem;
  font-weight: bold;
  margin-bottom: 120px;
  margin-top: 74px;
  position: relative;
  text-align: center;
}

/*grid*/
.group:after, .aboutmeContainer:after {
  content: "";
  clear: both;
  display: table;
}

section.group{
  padding-bottom: 234px;
}

.content-grid {
  position: relative;
  max-width: 100%;
}

div .archia{
  margin-right: 84px;
}

div .solo {
  margin-right: 84px;

}

.projects img {
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 99px;
  width: 100%;
}

/*overlay code*/
.containeroverlay{
  position: relative;
  top: 0;
  width: 100%;

}

.ArchiaImage .soloprojectimg{
  display: block;
  height: auto;
  width: 100%;
}

.mdl-card{ /*space of grid containers from footer & space around*/
  left: 84px;
  right: 84px;
  width: 100%;
}

.overlay {
  display: inline-block;
  position: absolute;
  margin: 20px 20px 99px 20px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: auto;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0, 0, 0, 0.6);
}

.containeroverlay:hover .overlay {
  opacity: 1;
}

.overlay-content {
  color: white;
  position: absolute;
  top: 35%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay-content h2{
  font-size: 6rem;
  font-family: "Titillium Web", Verdana, sans-serif;
}

.overlay-content p{
  font-size: 3rem;
  font-family: "Open Sans", Tahoma, sans-serif;
  line-height: 4.9rem;
  width: 486px;
}

.overlay-content .roles{
  font-size: 2.4rem;
  font-family: "Open Sans", Tahoma, sans-serif;
  line-height: 4.9rem;
  width: 486px;
}

.button input { /*case study active button on homepage*/
  background-color: #000;
  border: 2px solid #fff;
  border-radius: 5px;
  color: #fff;
  font-family: "Titillium Web", Verdana, sans-serif;
  font-size: 4rem;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 35%;
  width: 466px;
  height: 92px;
  -webkit-transform: translate(-50%, -50%);
  -webkit-appearance: none;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.button input:hover{ /*case study active button on homepage*/
  background-color: #fff;
  border: 2px solid #000;
  border-radius:5px;
  color: #000;
  font-family: "Titillium Web", Verdana, sans-serif;
  font-size: 4rem;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 35%;
  -webkit-transform: translate(-50%, -50%);
  -webkit-appearance: none;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

 .inactivebutton input { /*inactive button on homepage*/
	background-color: #ECEBEB;
  border-radius:5px;
  color: #979797;
  font-family: "Titillium Web", Verdana, sans-serif;
  font-size: 4rem;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 35%;
  width: 466px;
  height: 92px;
  -webkit-transform: translate(-50%, -50%);
  -webkit-appearance: none;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/*--------Aboutme.html code-------*/
.container-about-me {
background-color: #ECEBEC;
font-family: "open sans", Tahoma, sans-serif;
font-size: 2rem;
line-height: 3.5rem;
}

section.biographyRight{
  float: right;
  width: 50%;

}

section.PhotosLeft{
  display: grid;
  float: left;
  grid-gap: 100px;
  padding-top: 100px;
  position: relative;
  width: 50%;
}

section.Irapuato{
  bottom: 100px;
  margin-bottom: -335px;
  padding-top: 240px;
  padding-right: 84px;
  width: 100%;
}

section.PhotosLeft p, section.Irapuato p{
  padding-left: 20px;
}

.bioText h1{
  color: #333333;
  font-family: "Titillium Web", Verdana, sans-serif;
  font-size: 3.6rem;
  margin-top: 84px;
  text-align: center;
}

.bioText p{
  color: #454242;
  font-family: "Open Sans", Tahoma, sans-serif;
  font-size: 2rem;
  line-height: 3.5rem;
  margin-top: 50px;
  padding-right: 84px;
  padding-left: 42px;
  text-align: left;
}

.AboutPhotos2 p{
  color: #454242;
  font-family: "Open Sans", Tahoma, sans-serif;
  font-size: 1.6rem;
  line-height: 2.6rem;
}


.MyPhoto img {         /*aboutme page images*/
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 99px;
  width: 100%;
}

section.AboutPhotos2{
margin-bottom: 100px;
}

.strawberryPhoto img, .Irapuato img {
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 68px;
  width: 100%;
}

/*--------Workspage code---------*/
div .workspageprojects{ /*WORKS page space around heading*/
  margin-top: 100px;
  margin-bottom: 500px;
}

.workspageprojects h1{
  font-family: "Titillium Web", Verdana, sans-serif;
  font-size: 5rem;
  font-weight: bold;
  padding-top: 200px;
  text-align: center;
}


/*----------------ARCHIA'S CASE STUDY-------------------------*/
.ArchiaIntro h1{
  color: #3C4663;
  font-family: "Rasa", Times, serif;
  font-size: 8rem;
  text-align: center;
  padding-top: 100px;
}

.ArchiaIntro img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 23px;
  text-align: center;
  width: 80%;
}

div .SummaryOfProject{
  background-color: #3C4663;
  margin-top: -200px;
  height: auto;
  width: 100%;
}

.SummaryOfProject p{
  color: white;
  font-family: "Open Sans", Tahoma, sans-serif;
  font-size: 2.4rem;
  line-height: 4.2rem;
  padding-bottom: 70px;
  padding-top: 268px;
  padding-left: 293.5px;
  padding-right: 293.5px;
  text-align: center;
}

.defaultbutton input { /*default styling for active buttons*/
	background-color: #000;
  border: 2px solid #fff;
  border-radius: 5px;
  color: #fff;
  font-family: "Titillium Web", Verdana, sans-serif;
  font-size: 4rem;
  font-weight: bold;
  position: relative;
  left: 50%;
  width: 498px;
  height: 92px;
  -webkit-transform: translate(-50%, -50%);
  -webkit-appearance: none;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.defaultbutton input:hover{ /*default styling for buttons on Case Study page*/
  background-color: #fff;
  border: 2px solid #000;
  border-radius:5px;
  color: #000;
  font-family: "Titillium Web", Verdana, sans-serif;
  font-size: 4rem;
  font-weight: bold;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -webkit-appearance: none;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.buttonProto { /*position of the button on that section*/
  padding-bottom: 100px;
}

/*------------roles, Deliverables, tools section----------*/
.RolesExtras ul{
  list-style-type:none;
}

.wrap{
  display: flex;
  margin-top: 100px;
  margin-bottom: 100px;
}

.wrap > div {
  flex: 1; /*grow*/
}

.wrap h4{
  color: #454242;
  font-size: 5rem;
  font-family: "Titillium Web", Verdana, sans-serif;
  padding-top: 50px;
  text-align: center;
}


.rolescontainer{
  background-color: #F8D2C0;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: auto;
  margin-left: 84px;
  margin-right: 21px;
  padding-bottom: 92px;
  width: 100%;
  max-width: 333px;
}

.delivcontainer{
  background-color: #F8D2C0;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: auto;
  margin-left: 21px;
  padding-bottom: 42px;
  width: 100%;
  max-width: 522px;
}

.toolscontainer{
  background-color: #F8D2C0;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: auto;
  margin-left: 42px;
  margin-right: 84px;
  width: 100%;
  max-width: 333px;
}

.rolescontainer ul{ /*Text inside the containers */
  color: #454242;
  font-size: 2.4rem;
  font-family: "Open Sans", Tahoma, sans-serif;
  line-height: 4.2rem;
  padding-top: 50px;
  padding-left: 58px;
  padding-right: 58px;
  text-align: center;
}

.delivcontainer ul{
  color: #454242;
  font-size: 2.4rem;
  font-family: "Open Sans", Tahoma, sans-serif;
  line-height: 4.2rem;
  padding-top: 50px;
  padding-left: 42px;
  padding-right: 42px;
  text-align: center;
}

.toolscontainer ul{
  color: #454242;
  font-size: 2.4rem;
  font-family: "Open Sans", Tahoma, sans-serif;
  line-height: 4.2rem;
  padding-top: 50px;
  padding-left: 87px;
  padding-right: 87px;
  text-align: center;
}

.wireframeimage{
  margin-left: 122px;
  margin-right: 122px;
  margin-top: 38px;
}

.toolsimage{
  margin-left: 122px;
  margin-right: 122px;
  margin-top: 123px;
}

/*-----------the problem section-----------*/
section.TheProblem {
  background-color: #3C4663;
  width: 100%;
}

/*h2 headings on case study page*/
.TheProblem h2, .TheSolution h2, .TheProcess h2{
  color: white;
  font-size: 8rem;
  font-family: "Titillium Web", Verdana, sans-serif;
  font-weight: bold;
  padding-top: 50px;
  text-align: center;
}

.TheProblem p, .TheSolution p{
  color: white;
  font-size: 2.4rem;
  font-family: "Open Sans", Tahoma, sans-serif;
  line-height: 4.2rem;
  padding-top: 50px;
  padding-bottom: 100px;
  padding-left: 313px;
  padding-right: 313px;
  text-align: center;
}


.TheSolution p{
  padding-bottom: 0;
  padding-left: 229px;
  padding-right: 229px;

}


/*-----------the solution section images-----------*/

section.TheSolution{
  background-color: #979797;
  margin-top: 100px;
  margin-left: 84px;
  margin-right: 84px;
}

div.containerImages{
  margin-top: 100px;
  padding-left: 105px;
  padding-right: 105px;
  width: 100%;
}

div.LandingPage{
  width: 50%;
  float: left;
}

.LandingPage img{
  height: auto;
  padding-right: 42px;
  width: 100%;
}

div.DesktopDashboard{
  width: 50%;
  float: right;
  padding-left: 42px;
}

.DesktopDashboard img{
  width: 100%;
  height: auto;
}

div.MobileBoarding{
  float: right;
  padding-top: 36px;
  width: 50%;
}

div.mobileOne, div.mobileThree{
  float: left;
  width: 50%;
}

div.mobileTwo, div.mobileFour{
  float: right;
  width: 50%;
}

.mobileOne img, .mobileThree img{
  height: auto;
  padding-left: 62px;
  padding-right: 7px;
  width: 100%;
}

.mobileTwo img, .mobileFour img{
  height: auto;
  padding-left: 7px;
  padding-right: 62px;
  width: 100%;
}

.mobileThree img, .mobileFour img{
  padding-top: 14px;
  padding-bottom: 36px;
}

div.MobileDashboard{
  float: right;
  width: 50%;
}

.MobileDashboard img{
  height: auto;
  padding-left: 75px;
  padding-right: 75px;
  width: 100%;

}

div.SolutionButtons{
  padding-top: 100px;
  width: 100%;
}

.buttonDP{ /*position of the button on that section*/
  padding-top: 1825px;
  padding-bottom: 50px;
  width: auto;
  height: auto;
}

.buttonMP{
  padding-bottom: 100px;
}

/*The Process section*/
.TheProcess h2{
  color: black;
  padding-top: 100px;
}

div.UserResearch{       /*The Survey Section*/
  background-color: #3C4663;
  margin-left: 84px;
  margin-right: 84px;
  margin-top: 50px;
  padding-top: 50px;
}

.UserResearch h3, .UserPersonas h3, .userstories h3{ /* h3 headings style with white color*/
  color: white;
  font-size: 6rem;
  font-family: "Titillium Web", Verdana, sans-serif;
  font-weight: bold;
  text-align: center;
}

.researchIntro p, .UserPersonas p{
  color: white;
  font-size: 2.4rem;
  font-family: "Open Sans", Tahoma, sans-serif;
  height: 112px;
  line-height: 4.2rem;
  padding-left: 105px;
  padding-right: 105px;
  padding-top: 50px;
  text-align: left;
}

.surveywrap{
  display: flex;
  margin-top: 100px;
  margin-bottom: 100px;
  padding-left: 105px;
  padding-right: 105px;
}

.surveywrap > div {
  flex: 1; /*grow*/
}


.SurveyResults {
  background-color: #F8D2C0;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: auto;
  margin-right: 20px;
  margin-top: 90px;
  width: 521px;

}

 .FeaturesFromSurvey{
  background-color: #F8D2C0;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: auto;
  margin-top: 90px;
  width: 521px;
}

.SurveyResults p, .FeaturesFromSurvey p {
  color: #454242;
  font-family: "Open Sans", Tahoma, sans-serif;
  font-size: 2rem;
  line-height: 3.5rem;
  padding-top: 50px;
  padding-bottom: 30px;
  padding-left: 26px;
  padding-right: 26px;
  text-align: left;
}

.SurveyResults ul, .FeaturesFromSurvey ul{
  color: #454242;
  font-family: "Open Sans", Tahoma, sans-serif;
  font-size: 2rem;
  line-height: 3.5rem;
  list-style-position: inside;
  list-style-type: disc;
  padding-bottom: 50px;
  padding-left: 26px;
  padding-right: 26px;
  text-align: left;
}


.surveybutton{
  padding-bottom: 100px;
  padding-top: 100px;
}

/*Competitive Analysis section-Archia--*/

.competitivewrap, .personaswrap{
  display: flex;
  margin-top: 100px;
  width: 100%;
}

.competitivewrap > div, .personaswrap > div {
  flex: 1; /*grow*/
}

div.CompAnalysis{
  float: left;
  height: auto;
  width: 70%;
}

div.competitiveimages{
  float: right;
  height: auto;
  width: 30%;
}

.compheading h3{
  color: black;
  font-family: "Titillium Web", Tahoma, sans-serif;
  font-size: 6rem;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
  text-align: center;
}


.CompAnalysis p{
  color: #454242;
  font-family: "Open Sans", Tahoma, sans-serif;
  font-size: 2.4rem;
  line-height: 4.2rem;
  padding-left: 189px;
  margin-right: 107px;
  text-align: left;
}

.lastcompparagraph p{
  color: #454242;
  font-family: "Open Sans", Tahoma, sans-serif;
  font-size: 2.4rem;
  line-height: 4.2rem;
  padding-left: 189px;
  margin-right: 107px;
  margin-top: 50px;
  margin-bottom: 100px;
  text-align: left;
}

.lastcompparagraph{
    width: 70%;
    float: left;
}

.CompAnalysis ul{
  color: #454242;
  font-family: "Open Sans", Tahoma, sans-serif;
  font-size: 2.4rem;
  line-height: 4.2rem;
  list-style-type: disc;
  list-style-position: inside;
  margin-left: 189px;
  margin-right: 107px;
  margin-top: 50px;
  text-align: left;
}

div .Dropbox{
  height: auto;
  margin-bottom: 100px;
  padding-left: 72px;
  width: 100%;
}

.Dropbox img{
  height: 150px;
  width: 150px;
}

div .GoogleDrive{
  margin-bottom: 100px;
  padding-left: 66px;
}

.GoogleDrive img{
  height: 141px;
  width: 162px;
}

div .Pinterest{
  padding-left: 72px;
}

.Pinterest img{
  width: 150px;
  height: 150px;
}

.competitivebutton{
  margin-bottom: 100px;
  padding-top: 100px;
}

/*-------USER PERSONAS SECTION-------*/

div .UserPersonas{
  background-color: #979797;
  color: white;
  font-family: "Open Sans", Tahoma, sans-serif; /*set font for all section*/
  height: auto;
  margin-left: 84px;
  margin-right: 84px;
}

.UserPersonas h3{
  padding-top: 50px;
}

.personaname h6{
  color: white;
  font-size: 3.6rem;
  margin-top: 50px;
  padding-bottom: 16px;
  text-align: center;
}

.personaswrap h7{
  color: white;
  font-size: 2.4rem;
  text-align: center;
}

div .SilviaPersona{
  float: left;
  border-style: solid;
  border-color: white;
  border-width: 0 1px 0 0;
  height: auto;
  margin-top: 100px;
  width: 50%;
}

div .LillyPersona{
  float: right;
  height: auto;
  margin-top: 100px;
  width: 50%;
}

.SilviaPersona img, .LillyPersona img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div .personaname{
  margin-top: 50px;
  text-align: center;
}

.personaname h7{
  font-style: italic;
  padding-top: 16px;
}

div .SilviaInfo ul, div .LIllyInfo ul {
  font-size: 2.4rem;
  line-height: 4.2rem;
  margin-top: 40px;
  text-align: center;
}

div .GoalsSilvia{
  line-height: 4.2rem;
  padding-top: 50px;
  padding-left: 102px;
  padding-right: 99px;
}

div .GoalsLilly{
  line-height: 4.2rem;
  padding-top: 50px;
  padding-left: 99px;
  padding-right: 102px;
}

.GoalsSilvia h7, .GoalsLilly h7, .Frustrations h7{
  font-size: 2.4rem;
  font-weight: bold;
}

.GoalsSilvia ul, .GoalsLilly ul, .FrustrationsSilvia ul, .FrustrationsLilly ul{
  font-size: 2.4rem;
  line-height: 4.2rem;
}

div .FrustrationsSilvia{
  margin-top: 50px;
  padding-left: 102px;
  padding-right: 99px;
  line-height: 4.2rem;
}

div .FrustrationsLilly{
  line-height: 4.2rem;
  margin-top: 92px;
  padding-right: 102px;
  padding-left: 99px;
}

.personasbutton{
  margin-top: 150px;
  padding-bottom: 100px;
}

/*-----USER STORIES SECTIONS----*/

div .userstories{
  background-color: #3C4663;
  margin-left: 84px;
  margin-right: 84px;
  margin-top: 100px;
  padding-bottom: 100px;
}

.userstories h3{
  padding-top: 50px;
}

.usersintro p{
  color: white;
  font-size: 2.4rem;
  font-family: "Open Sans", Tahoma, sans-serif;
  height: 116px;
  line-height: 4.2rem;
  padding-left: 105px;
  padding-right: 105px;
  padding-bottom: 100px;
  padding-top: 50px;
  text-align: left;
}

.HighTasks p, .lowandmedtasks p{
  color: #454242;
  font-size: 2.4rem;
  font-family: "Open Sans", Tahoma, sans-serif;
  font-weight: bold;
  line-height: 4.2rem;
  padding-left: 59px;
  padding-right: 59px;
  padding-top: 68px;
  text-align: left;
}

div .HighTasks{
  background-color: #ECEBEB;
  border-radius: 5px;
  margin-left: 105px;
  margin-right: 105px;
  margin-top: 100px;
  margin-bottom: 100px;
  padding-bottom: 68px;
}

div .lowandmedtasks {
  background-color: #ECEBEB;
  border-radius: 5px;
  margin-left: 105px;
  margin-right: 105px;
  margin-bottom: 150px;
  padding-bottom: 68px;
}

.HighTasks ul, .lowandmedtasks ul{
  color: #454242;
  font-size: 2.4rem;
  font-family: "Open Sans", Tahoma, sans-serif;
  line-height: 4.2rem;
  list-style-type: disc;
  list-style-position: inside;
  padding-left: 59px;
  text-align: left;
}

/*-------------USER FLOWS SECTION--------*/
div .userflows{
  background-color: #F8D2C0;
  margin-left: 84px;
  margin-right: 84px;
  margin-top: 100px;
  padding-bottom: 100px;

}

.userflows h3{
  color: black;
  font-family: "Titillium Web", Tahoma, sans-serif;
  font-size: 6rem;
  font-weight: bold;
  margin-bottom: 50px;
  padding-top: 50px;
  text-align: center;
  width: 100%;
}

.userflows p{
  color: #454242;
  padding-left: 105px;
  font-size: 2.4rem;
  font-family: "Open Sans", Tahoma, sans-serif;
  line-height: 4.2rem;
}

.storieswrap{
  display: flex;
  margin-bottom: 50px;
  width: 100%;
}

.storieswrap > div {
  flex: 1; /*grow*/
}

.userflowslist{
  float: left;
  width: 50%;
}

.userflowsimage img{
  float: right;
  width: 100%;
  padding-right: 72px;
}

.userflows ul{
  color: #454242;
  font-size: 2.4rem;
  font-family: "Open Sans", Tahoma, sans-serif;
  line-height: 4.2rem;
  list-style-type: disc;
  list-style-position: inside;
  padding-left: 105px;
}

div .userflowslist, div .userflowsimage{
  margin-top: 50px;
  margin-bottom: 100px;
}

/*--------WIREFRAMES & MOCKUPS SECTIONS------*/
div .wireframesandmockups{
  background-color: #3C4663;
  margin-left: 84px;
  margin-right: 84px;
  margin-top: 100px;
  padding-bottom: 100px;
}

.wireframesandmockups h3{
color: white;
font-size: 6rem;
font-family: "Titillium Web", Verdana, sans-serif;
font-weight: bold;
text-align: center;
padding-top: 50px;
padding-bottom: 50px;
}

.wireframesandmockups p{
  color: white;
  font-size: 2.4rem;
  font-family: "Open Sans", Tahoma, sans-serif;
  line-height: 4.2rem;
  padding-left: 115px;
  padding-right: 115px;
}

div .wireframes{ /*wrap for pictures part 1*/
  display: flex;
  height: auto;
  margin-top: 50px;
  margin-bottom: 100px;
  width: 100%;

}

.wireframes > div, .mockups > div {
  flex: 1; /*grow*/
}

div .mockups{ /*wrap for pictures part 2*/
  display: flex;
  height: auto;
  margin-bottom: 100px;
  padding-bottom: 50px;
}

div .sketchone{
  margin-left: 105px;
  margin-right: 27px;
}
.sketchone img{ /*picture 1 part 1*/
  width: 100%;
  height: auto;
}

div .sketchtwo{
  margin-right: 27px;
}

.sketchtwo img{ /*picture 2 part 1*/
  width: 100%;
  height: auto;
}

div .landingwireframe{
  margin-right: 27px;
}

.landingwireframe img{ /*picture 3 part 1*/
  width: 100%;
  height: auto;
}

div .desktopwireframe{
  margin-right: 105px;
}

.desktopwireframe img{ /*picture 4 part 1*/
  padding-bottom: 26px;
  width: 100%;
  height: auto;
}

.mobilewireframe img{ /*picture 5 part 1*/
  width: 100%;
  height: auto;
}

div .landingmockup{
  margin-left: 105px;
  margin-right: 43px;
  width: 100%;
}

.landingmockup img{ /*picture 1 part 2*/
  width: 100%;
  height: auto;
}

div .mobilemockup{
  margin-right: 43px;
}

.mobilemockup img{ /*picture 2 part 2*/
  padding-bottom: 27px;
  width: 100%;
  height: auto;
}

.desktopdashboardone img{ /*picture 3 part 2*/
  padding-top: 27px;
  width: 100%;
  height: auto;
}

div .desktoptwomockup{
  margin-right: 43px;
}

.desktoptwomockup img{ /*picture 4 part 2*/
  width: 100%;
  height: auto;
}

div .mobiletwomockup{
  margin-right: 105px;
}

.mobiletwomockup img{ /*picture 5 part 2*/
  padding-bottom: 25px;
  width: 100%;
  height: auto;
}

div .mobileonboardingtwo{
  text-align: center;
}

.mobileonboardingtwo img{ /*picture 6 part 2*/
  width: 50%;
  height: auto;
}

.wireframebutton{
  padding-bottom: 50px;
}




/*----BRANDING SECTION-----*/
div .branding{
  background-color: #979797;
  margin-left: 84px;
  margin-right: 84px;
  margin-top: 100px;
  height: auto;
  padding-bottom: 100px;
}

.brandingintro h3{
  color: white;
  font-family: "Titillium Web", Verdana, sans-serif;
  font-size: 6rem;
  font-weight: bold;
  padding-bottom: 50px;
  padding-top: 50px;
  text-align: center;
}

.brandingintro p{
  color: white;
  font-family: "Open Sans", Tahoma, sans-serif;
  font-size: 2.4rem;
  line-height: 4.2rem;
  padding-left: 105px;
  padding-right: 105px;
}

div .logosketch{
  margin-top: 100px;
}

.logosketch img{
  padding-left: 111px;
  padding-right: 111px;
  width: 100%;
}

div .logowrap{
  display: flex;
  margin-bottom: 100px;
  margin-top: 50px;
}

.logowrap > div {
  flex: 1; /*grow*/
}

div .firstlogo {
  margin-left: 200px;
  margin-right: 60px;
  margin-top: 75px;
}

.firstlogo img{
  width: 100%;
  height: auto;
}

.arrow img{
  padding-bottom: 0;
  padding-top: 120px;
  padding-left: 25px;
  width: 80%;
  height: auto;

}

div .finallogo {
margin-right: 200px;
}

.finallogo img{
  width: 100%;
  height: auto;
  padding-bottom: 0;
  padding-top: 70px;
}

.colorpalette h5{
  color: white;
  font-family: "Open Sans", Tahoma, sans-serif;
  font-size: 4.5rem;
  font-weight: bold;
  padding-left: 105px;

}

.colorpalette p{
  color: white;
  font-family: "Open Sans", Tahoma, sans-serif;
  font-size: 2.4rem;
  line-height: 4.2rem;
  padding-left: 105px;
  padding-right: 105px;
  padding-top: 50px;
  text-align: left;
}

div .colorswrap {
  display: flex;
  margin-bottom: 150px;
  margin-top: 100px;
}

.colorswrap > div {
  flex: 1; /*grow*/
}

div .salmoncolor{
  margin-left: 105px;
  margin-right: 76px;
}

.salmoncolor img{
  width: 100%;
  height: auto;

}

div .whitecolor{
  margin-right: 78px;
}

.whitecolor img{
  width: 100%;
  height: auto;
}


div .bluecolor{
  margin-right: 76px;
}

.bluecolor img{
  width: 100%;
  height: auto;
}

div .blackcolor{
  margin-right: 105px;
}

.blackcolor img{
  width: 100%;
  height: auto;
}

/*-------HIGH FIDELITY PROTOTYPES SECTION------*/
div .highPrototypes{
  background-color: #ECEBEC;
  height: auto;
  margin-left: 84px;
  margin-right: 84px;
  margin-top: 100px;
  padding-bottom: 100px;
}

.highPrototypes h3{
  color: black;
  font-family: "Titillium Web", Verdana, sans-serif;
  font-size: 6rem;
  font-weight: bold;
  padding-bottom: 50px;
  padding-top: 50px;
  text-align: center;
}

.highPrototypes p{
  color: #454242;
  font-family: "Open Sans", Tahoma, sans-serif;
  font-size: 2.4rem;
  line-height: 4.2rem;
  padding-left: 105px;
  padding-right: 105px;
}

div .highProtoWrap {
  display: flex;
  margin-bottom: 100px;
  margin-top: 100px;
}

.highProtoWrap > div {
  flex: 1; /*grow*/
}

div .finaldesktoplandingpg { /*Desktop final landing page*/
  float: left;
  height: auto;
  margin-bottom: 36px;
  margin-left: 105px;
  margin-right: 84px;
}

.finaldesktoplandingpg img{
  height: auto;
  width: 100%;
}

div .threeimageswrap{
  margin-right: 105px;
}

div .finaldesktopdashboard{
  /*float: left;*/
  /*width: 50%;*/
}

.finaldesktopdashboard img{
  /*float: none;*/
  height: auto;
  width: 100%;
}

.finalmobileonboarding img{
  height: auto;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 36px;
  padding-top: 36px;
  text-align: center;
  width: 100%;
}

.finalmobiledash img{
  height: auto;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 36px;
  padding-bottom: 100px;
  text-align: center;
  width: 100%;
}

.finaldesktopbutton{
  padding-top: 50px;
  padding-bottom: 50px;
}

/*--------User Testing Results Section-------*/
div .testingresults{
  background-color: #3C4663;
  color: white;
  margin-left: 84px;
  margin-right: 84px;
  margin-top: 100px;
  padding-bottom: 100px;
  padding-left: 105px;
  padding-right: 105px;
}

.testingintro h3{
  font-size: 6rem;
  font-family: "Titillium Web", Verdana, sans-serif;
  font-weight: bold;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.testingintro p, .changesApplied p{
  font-family: "Open Sans", Tahoma, sans-serif;
  font-size: 2.4rem;
  line-height: 4.2rem;
}

.testingintro ul{
  font-family: "Open Sans", Tahoma, sans-serif;
  font-size: 2.4rem;
  line-height: 4.2rem;
  list-style: disc;
  list-style-position: inside;
}

.changesApplied h5{
  font-size: 4.5rem;
  font-family: "Titillium Web", Verdana, sans-serif;
  font-weight: bold;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

div .firstwrap, div .secondwrap, div .thirdwrap, div .fourthwrap, div .fifthwrap, div .sixthwrap{
  display: flex;
  margin-bottom: 100px;
  margin-top: 100px;
}

.firstwrap > div, .secondwrap > div, .thirdwrap > div, .fourthwrap > div, .fifthwrap > div, .sixthwrap > div  {
  flex: 1; /*grow*/
}

div .wireframeBefore, div .desktopdashmockupOne, div .desktopmockupThree, div .firsthighlandingpage, div .secondhighmobilelanding, div .firstmobilelogin{
  float: left;
  width: 50%;
}

.wireframeBefore img, .desktopdashmockupOne img, .desktopmockupThree img, .firsthighlandingpage img, .secondhighmobilelanding img{
  height: auto;
  padding-right: 23px;
  width: 100%;
}

.firstmobilelogin img{
  height: auto;
  padding-left: 65px;
  padding-right: 25px;
  width: 100%;
}

div .firstDashboard, div .desktopdashmockupTwo, div .desktopmockupFinal, div .secondhighlandingpage, div .finalmobilelanding, div .finalmobilelogin{
  float: right;
  width: 50%;
}

.firstDashboard img, .desktopdashmockupTwo img, .desktopmockupFinal img, .secondhighlandingpage img, .finalmobilelanding img{
  height: auto;
  padding-left: 23px;
  width: 100%;
}

.finalmobilelogin img{
  height: auto;
  padding-left: 25px;
  padding-right: 65px;
  width: 100%;
}

/*----CONCLUSION SECTION----------*/
div .conclusion{
  background-color: #979797;
  margin-top: 100px;
}

.conclusionintro h2{
  color: white;
  font-size: 8rem;
  font-family: "Titillium Web", Verdana, sans-serif;
  font-weight: bold;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.conclusionintro p{
  color: white;
  font-size: 2.4rem;
  font-family: "Opens Sans", Tahoma, sans-serif;
  line-height: 4.2rem;
  padding-left: 189px;
  padding-right: 189px;
  text-align: left;
}

.conclusionbutton{
  padding-top: 100px;
  padding-bottom: 100px;
}


/*----------------FOOTER-----------------*/
footer.mdl-mini-footer {
  background-color: #000;
  bottom: 0;
  color: white;
  margin-top: 0;
  padding: 0.5rem;
  width: 100%;
  height: 452px;
  z-index: 1;
}

footer .contactHeading {
  width: 100%;
}

footer h3{
  color: #fff;
  font-size: 6rem;
  font-family: "Titillium Web", Verdana, sans-serif;
  margin-bottom: 70px;
  margin-top: 71px;
  text-align: center;
  width: 100%;
}

.footerwrap{
  width: 100%;
}

footer .mdl-mini-footer__link-list{
  font-size: 6rem;
  justify-content: center;
  text-align: center;
  width: 100%;
}

div .copyrights{
  margin-top: 100px;
  width: 100%
}

footer .copyrights {
  font-size: 1.4rem;
  color: white;
  font-family: "Titillium Web", Verdana, sans-serif;
  padding-bottom: 38px;
  text-align: center;
}
}
