/*---------RESPONSIVE TABLET SECTION--------------*/

@media only screen and (min-width: 768px) and  (max-width: 1023px){
  header.mdl-layout__header {
    display: inline-block;
  }

header{
  width: auto;
  height: 65vh;
}

header p{
  font-size: 3.6rem;
  line-height: 5.9rem;
  padding-left: 84px;
}

.PersonalLogo{        /* size and position of the personal logo*/
  height: 65px;
  width: 57px;
  margin-top: 28px;
  margin-left: 84px;
  margin-bottom: 28px;
}

ul#menu li{
  margin-top: 51px;
  margin-left: 45px;
  margin-bottom: 45px;
}

nav li:last-child {
  margin-right: 84px;
}

.navSection{
   height: 121px;
}

.navSection a{
  font-size: 3rem;
}

.featuredProjects h1{  /* Featured Projects-heading*/
  font-size: 8rem;
  margin-bottom: 120px;
  margin-top: 74px;
  }

  section.group{
    padding-bottom: 234px;
    padding-left: 84px;
    padding-right: 84px;
  }


  .group .mdl-card{ /*space of grid containers from footer & space around*/
    left: 44px;
    right: 84px;
    width: 100%;
  }

  .overlay-content {
    top: 35%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  div .overlay-content{
    margin-top: 5px;
    margin-bottom: 30px;
    width: 100%;
  }

  .overlay-content h2{
    font-size: 4rem;
  }

  .overlay-content p{ /*paragraph describing Archia*/
    font-size: 3rem;
    margin-top: 10px;
    width: 90%;
  }

  .overlay-content .roles{
  font-size: 1.8rem;
  font-family: "Open Sans", Tahoma, sans-serif;
  line-height: 2.4rem;
  padding-bottom: 10px;
  width: 100%;
}

  .overlay-content p.aboutproject {
    font-size: 2rem;
    line-height: 3.3rem;
    width: 100%;
  }

  .button input {
    font-size: 3rem;
    width: 300px;
    height: 64px;
  }


  .button input:hover {
    font-size: 3rem;
    width: 300px;
    height: 64px;
  }

  .inactivebutton input {
    font-size: 3rem;
    width: 300px;
    height: 64px;
  }

  /*Aboutme.html code*/
  section.biographyRight{
    float: none;
    width: 100%;
  }

  section.PhotosLeft{
    float: none;
    padding-top: 20px;
    width: 100%;
  }

  .AboutPhotos .mdl-card{ /*space of grid containers & space around*/
  left: 84px;
  right: 84px;
  width: 80%;
}

.AboutPhotos2 .mdl-card{ /*space of grid containers & space around*/
  left: 84px;
  right: 84px;
  width: 88%;
}

section.Irapuato{
padding-top: 50px;
}

.bioText p{
  padding-left: 84px;
  padding-right: 84px;
}

/*ARCHIA CASE STUDY RESPONSIVE CODE*/
.SummaryOfProject p{
  padding-left: 10%;
  padding-right: 10%;
}






}
