/*---------RESPONSIVE TABLET SECTION--------------*/

@media only screen and (min-width: 768px) and  (max-width: 1024px){
  header.mdl-layout__header {
    display: inline-block;
  }

header{
  height: 65vh;
}

header p{
  font-size: 2.8rem;
  line-height: 5rem;
  padding-left: 84px;
  padding-top: 5%;
}

.PersonalLogo{        /* size and position of the personal logo*/
  height: 65px;
  width: 57px;
  margin-top: 28px;
  margin-left: 84px;
  margin-bottom: 28px;
}

ul#menu li{
  margin-top: 51px;
  margin-left: 45px;
  margin-bottom: 45px;
}

nav li:last-child {
  margin-right: 84px;
}

.navSection{
   height: 121px;
}

.navSection a{
  font-size: 2.5rem;
}

.featuredProjects h1{  /* Featured Projects-heading*/
  font-size: 8rem;
  margin-bottom: 120px;
  margin-top: 74px;
  }

  section.group{
    padding-bottom: 234px;
    padding-left: 84px;
    padding-right: 84px;
    margin: 0 auto; /*remove when solo project ready*/
  }


  .group .mdl-card{ /*space of grid containers from footer & space around*/
    /*left: 44px; activate when solo project ready
    right: 84px;*/
    width: 80%;
  }

  .overlay-content {
    top: 35%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  div .overlay-content{
    margin-top: 5px;
    margin-bottom: 30px;
    width: 100%;
  }

  .overlay-content h2{
    font-size: 4rem;
  }

  .overlay-content p{ /*paragraph describing Archia*/
    font-size: 3rem;
    margin-top: 10px;
    width: 90%;
  }

  .overlay-content .roles{
  font-size: 1.8rem;
  font-family: "Open Sans", Tahoma, sans-serif;
  line-height: 2.4rem;
  padding-bottom: 10px;
  width: 100%;
}

  .overlay-content p.aboutproject {
    font-size: 2rem;
    line-height: 3.3rem;
    width: 100%;
  }

  .button input {
    font-size: 3rem;
    margin-top: 35%;
    width: 300px;
    height: 64px;
  }


  .button input:hover {
    font-size: 3rem;
    margin-top: 35%;
    width: 300px;
    height: 64px;
  }

  .inactivebutton input {
    font-size: 3rem;
    margin-top: 35%;
    width: 300px;
    height: 64px;
  }

  /*Aboutme.html code*/
  section.biographyRight{
    float: none;
    width: 100%;
  }

  section.PhotosLeft{
    float: none;
    padding-top: 20px;
    width: 100%;
  }

  .AboutPhotos .mdl-card{ /*space of grid containers & space around*/
  left: 84px;
  right: 84px;
  width: 80%;
}

.AboutPhotos2 .mdl-card{ /*space of grid containers & space around*/
  left: 84px;
  right: 84px;
  top: 0;
  width: 88%;
}

section.AboutPhotos2{
padding-top: 100px;
}

section.Irapuato{
padding-top: 50px;
}

.bioText p{
  padding-left: 84px;
  padding-right: 84px;
}

.resumeButton{
  padding-top: 50px;
  margin: 0 auto;
}

/*ARCHIA CASE STUDY RESPONSIVE CODE*/
div .SummaryOfProject{
  padding-bottom: 50px;
}

.SummaryOfProject p, .SummaryOfProjectRoyal p{
  padding-left: 80px;
  padding-right: 80px;
}


/*responsive roles, deliverables, toools secion*/
.wrap{
  display: inline-block;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
}

.rolescontainer{
  margin: 0 auto;
  margin-bottom: 50px;
}

.delivcontainer{
  margin: 0 auto;
  margin-bottom: 50px;
}

.toolscontainer{
  margin: 0 auto;
  padding-bottom: 50px;
}

/*responsive The Problem section*/
.TheProblem p, .TheSolution p{
  padding-left: 80px;
  padding-right: 80px;
}

.thesolutionwrap{
  margin-top: -25px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

div.containerImages{
  display: inline-block;
  margin-top: 0;
  padding-bottom: 50px;
  padding-left: 0;
  padding-right: 0;
}

div.LandingPage{
  float: none;
  margin-top: 0;
  width: 100%;
}

div .menuPageRoyal{
  float: none;
  margin-top: 50px;
  width: 100%;
}

.LandingPage img, .menuPageRoyal img{
  padding-right: 63px;
  padding-left: 63px;
  width: 100%;
}

.menuPageRoyal img{
  padding-left: 22px;
}

div.DesktopDashboard{
  width: 100%;
  float: none;
  margin-top: 50px;
  padding-left: 0;
}

div.MobileBoarding{
  float: none;
  padding-top: 50px;
  width: 100%;
}

div.MobileDashboard{
  float: none;
  width: 100%;
}

.MobileDashboard img{
  padding-left: 30%;
  padding-right: 30%;

}

div.SolutionButtons{
  padding-top: 0;
  padding-bottom: 0;
}

/*The Process section*/
.TheProcess h2{
  padding-top: 50px;
}

div.UserResearch{       /*The Survey Section*/
  text-align: center;
  margin-left: 0;
  margin-right: 0;
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 0;
}

.researchIntro p, .UserPersonas p{
  height: auto;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 50px;
  margin-bottom: 100px;
}


.surveywrap{
  display: inline-block;
  padding-top: 0;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 80px;
  padding-right: 80px;

}

.cloudUsers p, .demographicsSex p, .demographicsAge p, .surveyInfo p,
.menuWithPictures p, .menuePrices p{
  padding-right: 80px;
  padding-left: 80px;
  padding-bottom: 65px;
}


.surveybutton{
  display: inline-block;
  padding-bottom: 50px;
  padding-top: 50px;
}

/*Responsive Competitive Analysis section-Archia--*/
.competitivewrap{
  display: inline-block;
  margin-top: 50px;
}

div.CompAnalysis{
  float: none;
  height: auto;
  width: 100%;
}

div.competitiveimages{
  float: none;
  height: auto;
  width: 30%;
}

.compheading h3{
  margin-bottom: 50px;
}

.CompAnalysis p{
  padding-left: 80px;
  margin-right: 80px;

}

.lastcompparagraph p{
  padding-left: 80px;
  margin-right: 80px;
  margin-bottom: 0;
}

.lastcompparagraph{
    width: 100%;
    float: none;
}

.CompAnalysis ul{
  margin-left: 80px;
  margin-right: 80px;
}

.CompAnalysis ul{
margin-bottom: 50px;
}

div .competitiveimages{
  display: flex;
  margin-bottom: 0;
  width: 100%;
}

div .Dropbox, div .uncleJulio{
  margin-bottom: 0;
  width: 33.33%;
  text-align: center;
}

div .GoogleDrive, div .Cheddars{
  width: 33.33%;
  margin-bottom: 0;
  text-align: center;
}

div .Pinterest, div .spiralDiner{
  margin-bottom: 0;
  text-align: center;
  width: 33.33%;
  margin-right: 84px;
}

.uncleJulio img, .Cheddars img, .spiralDiner{
  width: 80%;
}

.spiralDiner{
  width: 40%;
}
.competitivebutton{
  margin-bottom: 50px;
}

/*-------Responsive USER PERSONAS SECTION-------*/
div .UserPersonas{
  margin-left: 0;
  margin-right: 0;
}

div .personaswrap{
  margin-top: 0;
}

div .Motivations{
  line-height: 3.2rem;
  padding-bottom: 0;
  padding-top: 50px;
  padding-left: 33px;
  padding-right: 33px;
}

.Motivations p{
  height: auto;
  font-size: 2.4rem;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}


div .GoalsSilvia, div .GoalsLilly, div .FrustrationsSilvia, div .FrustrationsLilly,
div .GoalsMaryEvans, div .goalsWillJones, div .frustrationsMaryEvans, div .frustrationsWillJones{
  padding-left: 33px;
  padding-right: 33px;
}

.SilviaPersona img, .LillyPersona img, .maryEvansPersona img, .willJonesPersona img{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

div .SilviaInfo ul, div .LIllyInfo ul, div .maryEvansInfo ul, div .willJonesInfo ul {
  padding-left:0;
  padding-right: 0;
  text-align: center;
}

/*-----Responsive USER STORIES SECTIONS----*/
div .userstories{
  margin-left: 0;
  margin-right: 0;
  margin-top: -24px;
  padding-bottom: 30px;
}

.usersintro p{
  padding-left: 80px;
  padding-right: 80px;
}

div .usersintro{
  padding-bottom: 50px;
}

/*-------------Responsive USER FLOWS SECTION--------*/
div .userflows{
  margin-left: 0;
  margin-right: 0;
  margin-top: -24px;
  padding-bottom: 50px;
}

.userflows p{
  padding-left: 80px;
  padding-right: 80px;
}
/*--------Responsive WIREFRAMES & MOCKUPS SECTIONS------*/
div .wireframesandmockups{
  margin-left: 0;
  margin-right: 0;
  margin-top: -24px;
  padding-bottom: 0;
  width: 100%;
}

.wireframesandmockups p{
  /*padding-bottom: 50px;*/
  padding-left: 80px;
  padding-right: 80px;
}

div .desktopsketchwrap, div .mobilesketchwrap, div .wireframeswrap,
div .desktopdashboardwrap, div .mobilelandingwrap, div .mockupsWrap,
div .mobilemockupwrap, div .wireframewrapRoyal{ /*wrap for pictures part 1  EDITED FOR ASSESMENT*/
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
}

div .sketchone, div .sketchtwo, div .desktopwireframe2, div .desktopdashboardswireframes,
div .plainMobileWireframe, div .landingmockup, div .mobilemockup, div .desktopwireframe1,
div .sketchtwomobile, div .landingwireframe, div .desktopwireframe,
div .mobilewireframe, div .desktoptwomockup, div .mobiletwomockup, div .desktopdashboardone,
div .dashboardRoyalVerOne, div .dashboardRoyalFinalVer, div .menuVersionOne, div .menuAppetizersVerTwo,
div .AboutVerOne, div .AboutVerTwo, div .orderToGoVerOne, div .orderToGoVerTwo, div .dashboardSketchRoyal,
div .dashboardWireframeRoyal, div .dashboardWireframeRoyal2, div .dashboardFigmaWireframeRoyal,
div .menuFigmaWireframeRoyal, div .menuPageWireframeRoyal{ /*desktop EDITED FOR ASSESMENT*/
  float: none;
  width: 100%;
  padding-bottom: 50px;
  padding-left: 80px;
  padding-right: 80px;
  margin: 0 auto;
}

div .orderToGoVerTwo{
  padding-right: 60px;
  margin-bottom: 50px;
}

div .desktopdashboardone{
  padding-top: 0;
}

.mobilemockupInfo{
  padding-top: 0;
}

div .mobileonboardingtwo{
  padding-bottom: 50px;
}

.wireframebutton{
  padding-bottom: 0;
  padding-top: 100px;
}

.mockupbutton{
  padding-top: 50px;
  padding-bottom: 100px;
}

/*----Responsive BRANDING SECTION-----*/

div .branding{
  margin-left: 0;
  margin-right: 0;
  margin-top: -24px;
  padding-bottom: 50px;
}

.brandingintro p, .Typography p, .Typography h5, .colorpalette p, .colorpalette h5{
  padding-left: 80px;
  padding-right: 80px;
}

.logosketch img{
  padding-left: 80px;
  padding-right: 80px;
  width: 100%;
}

div .logowrap{
  width: 100%;
}

div .firstlogo{
  margin-left: 120px;
  margin-right: 0;
}


.firstlogo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.arrow img{
  padding-left: 33px;
  padding-right: 33px;
  padding-top: 130px;
}

.arrowRoyal img{
  padding-left: 45px;
  padding-right: 13px;
  padding-top: 110px;
}

div .finallogo{
  margin-right: 120px;
}

.finallogo img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div .colorswrap {
  display: inline-block;
  margin-bottom: 50px;
  margin-top: 50px;
}

div .salmoncolor, div .bluecolor{
  display: flex;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 30px;
  width: 50%;
}

div .whitecolor, div .blackcolor{
  display: flex;
  float: right;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 30px;
  width: 50%;

}

.salmoncolor img, .bluecolor img{
  padding-left: 160px;
  padding-right: 22.5px;
  width: 100%;
  height: auto;
}

.whitecolor img, .blackcolor img{
  padding-left: 22.5px;
  padding-right: 160px;
  width: 100%;
  height: auto;
}

.colorPaletteRoyal img{
  width: 100%;
  padding-left: 80px;
  padding-right: 80px;
}

.primaryTypeface img, .complimentaryTypeface img{
  padding-left: 80px;
  padding-right: 80px;
}


/*-------RESPONSIVE HIGH FIDELITY PROTOTYPES SECTION------*/

div .highPrototypes{
  margin-left: 0;
  margin-right: 0;
  margin-top: -24px;
  padding-bottom: 50px;
}

.highPrototypes p{
  padding-left: 80px;
  padding-right: 80px;
}

div .highProtoWrap, div .highProtoWrapRoyal {
  display: inline-block;
  margin-bottom: 50px;
  margin-top: 50px;
  padding-left: 0;
  padding-right: 0;
}

div .finaldesktoplandingpg, div .dashboardRoyalOne, div .dashboardRoyalFinal {
  float: none;
  height: auto;
  margin-bottom: 50px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 66px;
  padding-right: 66px;
  width: 100%;
}

div .dashboardRoyalOne, div .dashboardRoyalFinal{
  padding-left: 80px;
  padding-right: 80px;
}

.finaldesktoplandingpg img, .dashboardRoyalOne img, .dashboardRoyalFinal img{
  text-align: center;
  width: 100%;
}

div .finaldesktopdashboard{
  float: none;
  margin-bottom: 50px;
  padding-left: 33px;
  padding-right: 33px;
  width: 100%;
}

.threeimageswrap{
  width: 100%;
}

.finaldesktopdashboard img{
  text-align: center;
  width: 100%;
}

.finalmobileonboarding img{
  padding-left: 80px;
  padding-right: 80px;
  width: 100%;
}

.finalmobiledash img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 80px;
  padding-right: 80px;
  width: auto;
}

.finaldesktopbutton{
  padding-top: 0;
}

/*--------Responsive User Testing Results Section-------*/
div .testingresults{
  margin-left: 0;
  margin-right: 0;
  margin-top: -24px;
  padding-bottom: 50px;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.testingintro p, .changesApplied p, .testingintro ul{
  padding-left: 80px;
  padding-right: 80px;
}

div .firstwrap, div .secondwrap, div .thirdwrap, div .fourthwrap, div .fifthwrap, div .sixthwrap{
  display: inline-block;
  margin-bottom: 50px;
  margin-top: 50px;
  width: 100%;
}

div .wireframeBefore, div .desktopdashmockupOne, div .desktopmockupThree, div .firsthighlandingpage, div .secondhighmobilelanding,
div .firstmobilelogin, div .menuVerTwo, div .menuVerThree, div .orderToGoVerTwoTwo,
div .menuVer3{
  float: none;
  margin-bottom: 50px;
  width: 100%;
}

/*images on the left*/
.wireframeBefore img, .desktopdashmockupOne img, .desktopmockupThree img{
  padding-right: 33px;
  padding-left: 33px;
  width: 100%;
}

.menuVerTwo img, .orderToGoVerTwoTwo img, .menuVer3 img{
  padding-right: 80px;
  padding-left: 80px;
  width: 100%;
}

.firsthighlandingpage img {
  padding-right: 80px;
  padding-left: 80px;
  width: 100%;
}


.firstmobilelogin img{
  display: block;
  margin: 0 auto;
  padding-left: 80px;
  padding-right: 80px;
  text-align: center;
  width: 70%;
}

.secondhighmobilelanding img{
  padding-left: 33px;
  padding-right: 33px;
  width: 100%;
}

div .firstDashboard, div .desktopdashmockupTwo, div .desktopmockupFinal, div .secondhighlandingpage,
div .finalmobilelanding, div .finalmobilelogin, div .orderToGoVerThree, div .menuFinalVer{
  float: none;
  width: 100%;
}

/*images on the right*/
.firstDashboard img, .desktopdashmockupTwo img, .desktopmockupFinal img{
  padding-left: 33px;
  padding-right: 33px;
  width: 100%;
}

.menuVerThree img, .secondhighlandingpage img, .orderToGoVerThree img, .menuFinalVer img{
  padding-right: 80px;
  padding-left: 80px;
  width: 100%;
}

.finalmobilelogin img{
  display: block;
  margin: 0 auto;
  padding-left: 80px;
  padding-right: 80px;
  width: 70%;
}

.finalmobilelanding img{
  display: block;
  margin-right: auto;
  margin-right: auto;
  padding-left: 80px;
  padding-right: 80px;
  width: 100%;
}


/*----Responsive CONCLUSION SECTION----------*/
div .conclusion{
  margin-top: -24px;
}

.conclusionintro p{
  padding-left: 80px;
  padding-right: 80px;
}

}
